# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Install protoc
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler
      shell: bash

    - name: Install Go protobuf plugins
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
        go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

    - name: Generate protobuf code
      run: |
        mkdir -p backend/pkg/pb
        protoc -I=proto --go_out=./backend/pkg/pb --go_opt=paths=source_relative \
          --go-grpc_out=./backend/pkg/pb --go-grpc_opt=paths=source_relative \
          proto/portfolio.proto

    - name: Build
      run: go build -v ./...
      working-directory: ./backend

    - name: Test
      run: go test -v ./...
      working-directory: ./backend
